#### data laoding

In [18]:

import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
artist_data = pd.read_csv('artists.csv')
artist_data.head()

   Artist ID             Name Nationality Gender  Birth Year  Death Year
0          1   Robert Arneson    American   Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish   Male      1936.0         NaN
2          3      Bill Arnold    American   Male      1941.0         NaN
3          4  Charles Arnoldi    American   Male      1946.0         NaN
4          5      Per Arnoldi      Danish   Male      1941.0         NaN

In [19]:
# shape of the data
artist_data.shape

(15091, 6)

In [21]:
# column and data type of each column
artist_data.dtypes

Artist ID        int64
Name            object
Nationality     object
Gender          object
Birth Year     float64
Death Year     float64
dtype: object

In [22]:
# check missing data
missing_counts = artist_data.isna().sum()
print(missing_counts)

Artist ID          0
Name               0
Nationality     2488
Gender          3072
Birth Year      3854
Death Year     10512
dtype: int64

In [23]:
# check unique values in Gender column
artist_data['Gender'].value_counts()

Gender
Male      9820
Female    2193
male         6
Name: count, dtype: int64

In [24]:
# replacing 'male' with 'Male'
artist_data['Gender'] = artist_data['Gender'].replace('male', 'Male')

In [25]:
# check unique value in Nationality column
artist_data['Nationality'].value_counts()

Nationality
American               5198
German                  930
French                  839
British                 835
Italian                 531
Japanese                498
Swiss                   280
Dutch                   265
Nationality unknown     255
Austrian                243
Canadian                196
Russian                 188
Brazilian               155
Spanish                 153
Argentine               139
Swedish                 130
Mexican                 128
Polish                  125
Danish                  119
Belgian                  89
Czech                    83
Chinese                  81
Israeli                  75
South African            69
Chilean                  61
Finnish                  60
Cuban                    58
Australian               56
Hungarian                52
Norwegian                49
Colombian                42
Venezuelan               41
Korean                   35
Peruvian                 34
Scottish                 28
Indian                   28
Turkish                  26
Croatian                 25
Yugoslav                 24
Uruguayan                21
Iranian                  21
Romanian                 20
Irish                    19
Portuguese               17
Haitian                  17
New Zealander            16
Greek                    13
Icelandic                11
Ukrainian                11
Bosnian                   8
Egyptian                  8
Slovak                    8
Taiwanese                 7
Georgian                  7
Vietnamese                7
Algerian                  6
Slovenian                 6
Serbian                   6
Czechoslovakian           6
Lebanese                  6
Guatemalan                5
Puerto Rican              5
Moroccan                  5
Tunisian                  4
Bulgarian                 4
Palestinian               4
Zimbabwean                4
Ecuadorian                4
Iraqi                     4
Luxembourgish             4
Albanian                  4
Canadian Inuit            3
Pakistani                 3
Estonian                  3
Filipino                  3
Kyrgyzstani               3
Malian                    3
Bolivian                  3
Singaporean               3
Thai                      3
Senegalese                3
Ghanaian                  3
Nigerian                  3
Welsh                     2
nationality unknown       2
Kazakhstani               2
Namibian                  2
Malaysian                 2
Nicaraguan                2
Latvian                   2
Lithuanian                2
Congolese                 2
Costa Rican               2
Various                   2
Nationality Unknown       2
Panamanian                2
Kenyan                    2
Mozambican                1
Angolan                   1
Guyanese                  1
Macedonian                1
Burkinabe                 1
Indonesian                1
Rwandan                   1
Kuwaiti                   1
Saudi Arabian             1
Catalan                   1
Syrian                    1
Cypriot                   1
Cameroonian               1
Mauritanian               1
Emirati                   1
Ugandan                   1
Paraguayan                1
Tanzanian                 1
Sudanese                  1
Ethiopian                 1
Native American           1
Afghan                    1
Cambodian                 1
Tajik                     1
Bahamian                  1
Ivorian                   1
Azerbaijani               1
Sahrawi                   1
Name: count, dtype: int64

In [26]:
# keeping single value of unkonwn nationalitu
artist_data['Nationality'] = artist_data['Nationality'].replace('nationality unknown', 'Nationality unknown')

In [23]:
Function to check if a word starts with "Unkn"
def starts_with_unkn(word):
    return word.startswith("Unkn")

# Find rows where any word in 'Column1' or 'Column2' starts with "Unkn"
filtered_df = artist_data[artist_data.applymap(lambda x: isinstance(x, str) and starts_with_unkn(x)).any(axis=1)]

In [15]:
artist_data = artist_data.applymap(lambda x: 'Unknown' if isinstance(x, str) and starts_with_unkn(x) else x)

C:\Users\prach\AppData\Local\Temp\ipykernel_22240\804803624.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  artist_data = artist_data.applymap(lambda x: 'Unknown' if isinstance(x, str) and starts_with_unkn(x) else x)

In [27]:
# checking duplicate values
artist_data[artist_data['Name'].duplicated()].head()

      Artist ID              Name Nationality Gender  Birth Year  Death Year
5397       6013  Unknown Designer      French    NaN         NaN         NaN
5398       6014  Unknown Designer      German    NaN         NaN         NaN
5399       6015  Unknown Designer       Dutch    NaN         NaN         NaN
5400       6016  Unknown Designer     Italian    NaN         NaN         NaN
5401       6017  Unknown Designer     Mexican    NaN         NaN         NaN

In [28]:
# checking completness of the data
COMPLETENESS = '{0:.1f}%'.format((artist_data.count().sum())/((artist_data.count().sum())+(artist_data.isnull().sum().sum())) *100)
print(COMPLETENESS)

78.0%

### Artworks Data

In [3]:
artworks_data = pd.read_csv('artworks.csv')
artworks_data.head(2)

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,Department,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,Architecture & Design,Architecture,885.1996,NaN,NaN,48.6000,NaN,168.9000,NaN,NaN,NaN
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,Architecture & Design,Architecture,1.1995,NaN,NaN,40.6401,NaN,29.8451,NaN,NaN,NaN

In [3]:
artworks_data.shape

(130262, 21)

In [4]:
artworks_data.isna().sum()

Artwork ID                 0
Title                     62
Artist ID               1460
Name                    1460
Date                    2312
Medium                 11919
Dimensions             11463
Acquisition Date        5463
Credit                  3070
Catalogue                  0
Department                 0
Classification             0
Object Number              0
Diameter (cm)         128863
Circumference (cm)    130252
Height (cm)            18369
Length (cm)           129526
Width (cm)             19259
Depth (cm)            118819
Weight (kg)           129964
Duration (s)          127178
dtype: int64

In [13]:
artworks_data = artworks_data.drop_duplicates(subset=['Artist ID', 'Title', 'Name'], keep='first')

In [14]:
artworks_data.shape

(100353, 21)

In [17]:
clssification_count = artworks_data['Classification'].value_counts()
clssification_count

Classification
Illustrated Book                  24899
Print                             21961
Photograph                        19932
Design                             9214
Drawing                            8081
Film                               2256
Mies van der Rohe Archive          2211
Video                              2148
Painting                           2119
Architecture                       1733
Sculpture                          1495
(not assigned)                      797
Multiple                            774
Periodical                          707
Frank Lloyd Wright Archive          452
Installation                        448
Audio                               398
Work on Paper                       333
Media                               265
Ephemera                             62
Textile                              30
Performance                          20
Collage                               8
Photography Research/Reference        4
Software                              3
Film (object)                         2
Product Design                        1
Name: count, dtype: int64